:root{
    --bg-color-black:#000000;
    --bg-color-medium:#e4e4e449;
    --bg-color-white:#ffffff;
    --font-color:#b98b59;
    --font-color-black:#000000;
    --font-color-medium:#c4c4c4;
    --font-color-white:#dbdbdb;
    --font-size-big-4:7.0rem;
    --font-size-big-3:5.0rem;
    --font-size-big-2:4.0rem;
    --font-size-big-1:3.0rem;
    --font-size-medium-3:2.4rem;
    --font-size-medium-2:2.1rem;
    --font-size-medium-1:1.8rem;
    --font-size-small-4:1.5rem;
    --font-size-small-3:1.4rem;
    --font-size-small-2:1.3rem;
    --font-size-small-1:1.0rem;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}
header{
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.container-head{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}
nav ul li{
    display: flex;
    align-items: center;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: var(--font-size-small-3);
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding: 20px;
}

nav ul li:hover{
    color: var(--font-color);
    border-bottom:5px solid #b98b59;
}
nav ul li:hover a{
    color: var(--font-color);
    padding-bottom: 15px;
}
#bg-main{
    background-image: url(complementos/bg.jpg);
    background-size: cover;
    height: 100vh;
}
.container-no-width{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}
#bg-text-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.bg-text-head, .bg-text-head-color{
    font-size: var(--font-size-big-4);
    text-transform: uppercase;
    font-weight: 700;  
}
.bg-text-head{
    color: #ffffff;
}
.bg-text-head-color{
    color: var(--font-color);
    margin-bottom: 10px;
}
.bg-text-number{
    color: #fff;
    font-size: var(--font-size-medium-3);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;

}
.buttom{
    background-color: var(--font-color);
    border-radius: 40px;
    width: 250px;
    text-align: center;
}
.buttom a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-medium-2);
    display: block;
    padding: 15px;
    color: #fff;
}
.slide{
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
}
.slide-buttom{
    height: 20px;
    width: 20px;
    border: 3px solid var(--font-color);
    border-radius: 10px;
    margin: 10px;
}
.slide-buttom:hover{
    background-color: var(--font-color);
}
#about-us{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-medium);
}
.about-us{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 80px;
}
.container-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
}
.st-head{
    font-size: var(--font-size-big-2);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.st-suble{
    font-size: var(--font-size-medium-2);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color-medium);
    margin-top: 5px;
}
.about-us-text p{
    margin-bottom: 20px;
    font-size: var(--font-size-medium-2);
}
.about-us-content{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.video{
    margin-left: 20px;
}
iframe{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}
#services{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-2{
    max-width: 1100px;
    padding: 20px;
}
.services{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.services-selo{
    flex: 1;
    border-left: 1px solid var(--font-color-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-selo:nth-child(4){
    border-right: 1px solid var(--font-color-medium);
}
.img-selo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width:230PX ;
}
.selos-text{
    color: #fff;
    text-align: center;
    font-size: var(--font-size-medium-2);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.selos-desc{
    color: var(--font-color-medium);
    text-align: center;
    font-size: var(--font-size-small-4);
    text-transform: uppercase;
}
#our-projects{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-medium);
}
.img-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--font-color-white);
    border-radius: 30px;
    padding: 0px 20px;
    width: max-content;
}
.img-list ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.img-list ul li{
    border-left: 1px solid black;
}
.img-list ul li:hover{
    border-bottom: 2px solid var(--font-color);
}
.img-list ul li:hover a{
    padding-bottom: 13px;
    color: var(--font-color);
}
.img-list ul li:nth-child(1){
    border-left: 0px;
}
.img-list ul li a{
    font-size: var(--font-size-small-4);
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    color: #000000;
}
.img-grid-layout{
    position: relative;
    margin: 10px;
}
.margin-buttom{
    margin-top: 40px;
}
.img-over{
    position: relative;
    height: 100%;
}
.img-over img{
    width: 225px;
    height: 138px;
}
.over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;
    transform: translateY(140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.over-head{
    font-size: var(--font-size-big-1);
    color: #fff;
}
.over-text{
    font-size: var(--font-size-small-4);
    color: #fff;
    text-align: center;
}
.container-3{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.img-grid-layout:hover .over{
    height: 100%;
    transform: translateY(0);
}
#our-team{
    display: flex;
    justify-content: center;
    background-image: url(complementos/bg.jpg);
    background-size: cover;
    min-height: 100vh;
}
.container-our-team{
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.column{
    flex-direction: column;
    height: 100%;
}
#our-team-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}
.out-team-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-social{
    font-size: var(--font-size-medium-3);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}
.card-suble{
    font-size: var(--font-size-medium-1);
}
#social-midia{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
}
.social-medias{
    background-color: #d3d2d2;
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 12.5px;
}
.social-medias img{
    height: 25px;
    width: 25px;
    padding: 5px;
}
#happy-clients{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color-medium);
}
#happy-img{
    margin-top: 40px;
    height: 200px;
    width: 200px;
    align-self: center;
}
#quote-img{
    width: 30px;
    align-self: center;
    padding-top: 40px;
}
#happy-p{
    font-size: var(--font-size-medium-2);
    margin-top: 20px;
    margin-bottom: 40px;
}
#stamp{
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.205);
}
.stamp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stamp div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 150px;
    padding: 20px;
}
.stamp div a{
    display: block;
}
#price{
    display: flex;
    justify-content: center;
}
.price{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.ft-head{
    font-size: var(--font-size-big-1);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}
.ft-desc{
    font-size: var(--font-size-small-4);
    color: rgba(0, 0, 0, 0.6);
}
.ft-feature{
    font-size: var(--font-size-medium-1);
    text-transform: uppercase;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.features{
    max-width: 500px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.ft-head::before{
    content: url(icones/check.png);
    margin-right: 10px;
}
#some-facts{
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.some-facts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.sf-column{
    text-align: center;
    max-width: 250px;
}
.sf-numbs{
    font-size: var(--font-size-big-3);
    font-weight: 800;
    color: var(--font-color);
}
.sf-head{
    font-size: var(--font-size-medium-2);
    text-transform: uppercase;
    height: 60px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}
.sm-dc{
    font-size: var(--font-size-small-4);
    margin-top: 20px;
    color: var(--font-color-medium);
}
#tell-about-us{
    display: flex;
    justify-content: center;
}
.social{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.social span{
    font-size: var(--font-size-small-3);
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 500;
    color: var(--font-color-medium);
}